{% macro render_field(field, value) %}
<div class="form-group row">
    <label for="start-time-input" class="col-2 col-form-label">{{ field.label }}</label>
    <div class="col-10">
        {% if value is none %}
            {% set value = "" %}
        {% endif %}

        {% if field.type == 'TimeField' %}
            {{ field(class_="form-control", value="%s:%s"|format(value.hour, value.minute)) }}
        {% elif field.name == 'tags' %}
            {{ field(class_="form-control", value=value, data_role="tagsinput") }}
        {% else %}
            {{ field(class_="form-control", value=value) }}
        {% endif %}

        {% if field.errors %}
        <ul class=errors>
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endmacro %}