{% block table_reservation %}
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">{{ type }}</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>User</th>
                <th>Resource Name</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in data %}
            <tr>
                <td>{{ reservation.owner }}</td>
                <td><a href="/resource/{{ reservation.resource.key.id() }}">{{ reservation.resource.name }}</a></td>
                <td>{{ reservation.start_time }}</td>
                <td>{{ reservation.end_time }}</td>
                <td>
                    {% if reservation.owner == user %}
                    <a href="{{ url_for('delete_reservation', reservation_id=reservation.key.id()) }}"
                       class="btn btn-danger pull-right" id="delete-reservation" role="button">Delete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}